In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("spotify_millsongdata.csv")

In [4]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [6]:
df.shape

(57650, 4)

In [7]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [8]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [9]:
df.head(10)

,artist,song,text
0,Human League,The Sound Of The Crowd,Put your hand in a party wave \r\nPass around...
1,Iron Maiden,Gangland,Shadows may hide you but also may be your grav...
2,Luther Vandross,If I Was The One,I see the way he treats you \r\nI feel the te...
3,King Crimson,Exiles,"Now, in this faraway land \r\nStrange, that t..."
4,Fiona Apple,Pure Imagination,Come with me \r\nAnd you'll be \r\nIn a worl...
5,Peter Tosh,Arise Blackman,"Lift up your heads, o ye gates \r\nAnd be ye ..."
6,Neil Sedaka,Happy Birthday Sweet Sixteen,Tra la-la-la-la la-la-la-la \r\nHappy birthda...
7,Louis Armstrong,Chim Chim Cher-ee,"Chim, chimney \r\nChim, chimney \r\nChim, ch..."
8,Puff Daddy,The Last Song,"[P. Diddy] \r\n1, 2, 1, 2 \r\nYeh why'all ca..."
9,Justin Timberlake,True Blood,Red was the color of her eyes \r\nAnd she put...

In [10]:
df['text'][0]

'Put your hand in a party wave  \r\nPass around  \r\nMake a shroud pulling combs through a backwash frame  \r\nFind the copies in a carbon mount  \r\nPass around  \r\nStroke a pocket with a print of a laughing sound  \r\n  \r\nGet around town, get around town  \r\nWhere the people look good  \r\nWhere the music is loud  \r\nGet around town  \r\nNo need to stand proud  \r\nAdd your voice to the sound of the crowd  \r\n  \r\nThe shades from a pencil peer  \r\nPass around  \r\nA fold in an eyelid brushed with fear  \r\nThe lines on a compact guide  \r\nPass around  \r\nA hat with alignment worn inside  \r\n  \r\nGet in line now, get in line now  \r\nStay in time with the rhythm and rhyme  \r\nGet around town, get around town  \r\nWhere the people look good  \r\nWhere the music is loud  \r\nGet around town  \r\nNo need to stand proud  \r\nAdd your voice to the sound of the crowd\r\n\r\n'

In [11]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [12]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [19]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [20]:
tokenization(" you are  beautiful, beauty")

'you are beauti , beauti'

In [21]:
df['text'].apply(lambda x: tokenization(x))

0       put your hand in a parti wave pass around make...
1       shadow may hide you but also may be your grave...
2       i see the way he treat you i feel the tear you...
3       now , in thi faraway land strang , that the pa...
4       come with me and you 'll be in a world of pure...
                              ...
4995    lost in a dream in the arm of the night two lo...
4996    hello my luck wa so bad i thought i use up all...
4997    it 's your boy bruno imma take ya to the top g...
4998    befor you make up your mind to leav me befor y...
4999    come and gather around at the tabl in the spir...
Name: text, Length: 5000, dtype: object

In [22]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Manas\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [26]:
tfid = TfidfVectorizer(analyzer='word',stop_words='english')

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Create an instance of TfidfVectorizer
tfidvector = TfidfVectorizer()

# Use the instance to fit and transform your data
matrix = tfidvector.fit_transform(df['text'])

In [31]:
matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 447675 stored elements and shape (5000, 23957)>

In [32]:
similarity = cosine_similarity(matrix)

In [33]:
similarity

array([[1.        , 0.05710508, 0.07850102, ..., 0.1029428 , 0.03215034,
        0.089034  ],
       [0.05710508, 1.        , 0.14392087, ..., 0.12277618, 0.10855561,
        0.0764744 ],
       [0.07850102, 0.14392087, 1.        , ..., 0.22296395, 0.24631049,
        0.14605661],
       ...,
       [0.1029428 , 0.12277618, 0.22296395, ..., 1.        , 0.24552201,
        0.17043834],
       [0.03215034, 0.10855561, 0.24631049, ..., 0.24552201, 1.        ,
        0.09444104],
       [0.089034  , 0.0764744 , 0.14605661, ..., 0.17043834, 0.09444104,
        1.        ]])

In [34]:
df[df['song'] == 'World Wide'].index[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [35]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [36]:
recommendation("I Will Touch You")

IndexError: index 0 is out of bounds for axis 0 with size 0

In [37]:
import pickle

In [38]:
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))